nav {
  background: #0e0e06;
}

a {
  color: white;
}

.search {
  border: 0;
  background: white;
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

#padresearch * {
  border: none !important;
  padding: 0;
  margin: 0;
}

#padresearch {
  border-radius: 19px !important;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  padding-bottom: 0.4rem;
}

#insearch {
  height: 1.2rem;
  padding: 0 0 3px 0;
}


li {
  font-family: "Lato", sans-serif;
}
.colgrid1 {
  display: grid !important;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

#menu .logo {
  grid-area: logo;
  height: auto;
  width: 46%;
  margin-left: 13%;
}


#menu .columna2 {
  grid-area: columna2;
  justify-self: auto;
}

#menu .columna3 {
  grid-area: columna3;
  justify-self: start;
}

.dropdown-menu {
  background: #0e0e06;
}

@media screen and (min-width: 768px) {
  #menu {
    display: grid !important;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 300px 150px;
    grid-template-areas: "logo columna1  columna2 columna3";
  }
  #ul {
    grid-area: columna1;
    display: grid !important;
    grid-gap: 20px;
    grid-template-columns: 50px 100px 127px 1fr;
    align-items: center;
    text-align: center;
  }
}
