<nav  class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div >
    <div  class="collapse navbar-collapse" id="menu">
          <img src="../../../assets/U.png" class="logo">
          <ul id="ul" class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Nuestros Programas</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#">Programas para Organizaciones</a>
            </li>
            <li class="nav-item  ">
              <a class="nav-link" href="#">Quienes somos</a>
            </li>
          </ul>
          <div class="columna2">
            <div class="col-md-12">
                <div id="padresearch" class="input-group">
                    <input id="insearch" class="form-control border-right-0 border text-white bg-transparent" type="search" placeholder="¿Que quieres aprender?" >
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent"><i class="fa fa-search"></i></div>
                    </span>
                </div>
            </div>
          </div>
          <div class="columna3">
              <ul  class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#">FAQ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ESP
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">ESP 1</a>
                        <a class="dropdown-item" href="#">ESP 2</a>
                      </div>
                </li>
              </ul>
          </div>
        </div>
  </div>
</nav>
